<div class="fundo container-fluid my-5" style="background-image: url(../../../assets/background-completo.png);">
    <div class="container">
        <h2 class="text-center" style="color: #154580;">Adicione um pensamento:</h2>
        <form >
            <div class="mb-3">
              <label for="pensamento" class="form-label fw-bold">Pensamento</label>
              <textarea
                class="form-control"
                id="pensamento"
                placeholder="Digite seu pensamento"
                formControlName="pensamento"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="autor" class="form-label fw-bold">Autor(a) ou Fonte</label>
              <input
                type="text"
                class="form-control"
                id="autor"
                placeholder="Insira o nome do autor(a) ou fonte"
                formControlName="autor"
              />
            </div>
            <div class="mb-3">
              <label class="form-label fw-bold">Selecione o modelo do card:</label>
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="model1"
                    value="model1"
                    formControlName="model"
                  />

    </div>
</div>