.card-base {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(21, 69, 128, 0.15);
    border-radius: 1rem;
  }
  
  .blockquote-primary {
    color: black;
  }
  
  .blockquote-info {
    color: black;
  }
  
  .blockquote-success {
    color: black;
  }
  
  .card-border-primary {
    border-right: 5px solid #154580;
    border-bottom: 5px solid #154580;
  }
  
  .card-border-info {
    border-right: 5px solid #0dcaf0;
    border-bottom: 5px solid #0dcaf0;
  }
  
  .card-border-success {
    border-right: 5px solid #198754;
    border-bottom: 5px solid #198754;
    
  }
  

  body{
    background-image: url(../../../assets/background-completo.png);
    background-repeat: no-repeat;
  }