<div class="modal-body row">
  <div class="col-md-6">
    <img src=""class="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/d9/fa/1b/lost-valley.jpg?w=900&h=500&s=1" alt="ERA PRA TER UMA FOTO AQUI MAS POR ALGUM MOTIVO NÃO TA INDO">
  </div>





  
  <div class="col-md-6 p-5 ">
    <h1 class="text-danger text-decoration-underline text-center">Inscrição</h1>



    <div >
      <form>

        <div class="row mb-3">
          <div class="mb-3 col-6">
            <label for="nome" class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              placeholder="Insira seu nome"
            />
            <div id="nome" class="form-text"></div >
          </div>
          <div class="mb-3 col-6">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control" id="email"
            placeholder="insira seu email" />
          </div>
        </div>

        <div class="row mb-3">
          <div class="dropdown mb-3 col-6">
            <p>Estados</p>
            <div class="input-group mb-3" bis_skin_checked="1">
              <select class="form-select" id="inputGroupSelect01">
                <option selected="">Escolha: </option>
                <option value="1">PE</option>
                <option value="2">SP</option>
                <option value="3">AL</option>
              </select>
            </div>
        
          </div>
          
          <div class="dropdown mb-3 col-6">
            <p>Cidades</p>
            <div class="input-group mb-3" bis_skin_checked="1">
              <select class="form-select" id="inputGroupSelect01">
                <option selected="">Escolha: </option>
                <option value="1">RECIFE</option>
                <option value="2">SÃO PAULO</option>
                <option value="3">TERESINHA</option>
              </select>
            </div>
        
          </div>

          <div class="mb-3 col-6 w-100">
            <label for="instituicao" class="form-label">instituicao</label>
            <input
              type="text"
              class="form-control"
              id="instituicao"
              placeholder="Insira sua instituicao"
            />
            <div id="instituicao" class="form-text"></div >
          </div>
        </div>

        
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
